/*
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 Main
        1.2 Header
        1.3 Footer
      2. COMPONENTS
        2.1 Forms
      3. PAGES
*/

:root {
  /*COLORS*/
  --mainColor: #0fa3b1;
  --secondaryColor: #eddea4;
  --tertiaryColor: #cacec9;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 Main******************/
* {
  margin: 0;
  padding: 0;
}
html {
  /*FOR STICKY FOOTER*/
  height: 100%;
}
body {
  background-color: var(--secondaryColor);

  font-family: "Bebas Neue", cursive;
  font-size: xx-large;

  /*FOR STICKY FOOTER*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  padding: 3%;
}
/*****************1.2 HEADER********************/
header {
  background: var(--mainColor);
}
/*******************1.3 FOOTER*****************/
footer {
  background: var(--tertiaryColor);
  text-align: center;
  /*STICKY FOOTER*/
  margin-top: auto;
}
/**------------------------------------------
**            2. COMPONENTS
**------------------------------------------*/
/****************2.1 Forms***************** */
label {
  margin-top: 20px;
}
input {
  border-radius: 10px;
  font-size: 20px;

  margin: 5px;
  padding: 5px;
}
form {
  background-color: white;
  border-radius: 10px;
  display: grid;

  padding: 50px;
}
